body {
    font-family: Arial, sans-serif;
    background-color: #fadcee;
    margin: 0;
}

.game-container {
    width: 400px;
    margin: 100px auto;
    padding: 30px;
    background-color: white;
    text-align: center;
    border-radius: 12px;
}

.hidden {
    display: none;
}

.screen {
    text-align: center;
}

.difficulty-options {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}

.difficulty-btn {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: white;
    cursor: pointer;
}

.difficulty-btn:hover {
    background: #fae1f3;
}

#start-btn {
    padding: 12px 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background: #fadcee;
}
#start-btn:hover {
    background: #ed53c1;
}

.stats {
    display: flex;
    justify-content: space-between;
}

.problem {
    font-size: 40px;
    margin: 30px 0;
}

input {
    padding: 10px;
    font-size: 18px;
    width: 150px;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background: #fadcee;
}

.difficulty-btn.selected {
    background-color: #ed53c1;
    color: white;
}

#feedback {
    height: 25px;
}